.loading { 
  font-size: 2rem;
  margin: 200px auto 0;
  width: 100%;
  
  /* 
  Nome da animação, Segundos
  e quantas vezes vai rodar infinito,  */
  animation: spin 1s infinite linear;
}

/* Animação para deixar o loading girando. */
@keyframes spin {
  
  /* Momento Inicial. */
  from { 
    transform: rotate(0deg);
  }

  /* Pra onde ele vai animar  */
  to { 
    transform: rotate(360deg);
  }

  
}
